.header{
    width:100%;
    height:150px;
    display: flex;
}

.compass{
    width:50%;
    background-color: whitesmoke;
    display: flex;
    padding-left: 125px;
    font-size: 28px;
}

.menuBar{
    width:50%;
    height:500%;
    background-color: blue
}

.searchBar{
    width:50%;
    background-color:whitesmoke;
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
}

.logo{
    width: 150px;
    height: 150px;
    background-image: url('../../assets/images/Hotpot.png');
    background-repeat: no-repeat;
    background-size: cover;
}
.searchBox{
    height: 30px;
    margin-top: 20px;
    margin-right: 20px;
    border-radius: 30px;
    background: linear-gradient(#6dfff6, #91d7e5);
    display: flex;
    padding: 5px;
    box-shadow: inset 0 0 8px rgb(33 123 201);
}

.searchIcon{
    background-image: url('../../assets/images/search-icon.png');
    width: 25px;
    height: 25px;
    background-size:cover;
}
.search{
    background: transparent;
    border: none;
    outline: none;
    padding-left: 10px;
}

